.lable {
    color: color: #2B2B2B;
    font-size: 18px;
    line-height: 1.11;
}

.select {
	width: 100%;
	appearance: none;
	border: none;
	border-bottom: 1px solid #487996;
	background-color: transparent;
	outline: none;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 35px;
	cursor: pointer;

    color: color: #2B2B2B;
    font-size: 18px;
    line-height: 1.11;
}

.select:focus {
    outline: none;
    border-bottom: 1px solid rgba(72, 121, 150, 0.5);
}

.select-wraprer {
	position: relative;
}

.select-wraprer::before {
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	display: block;
	pointer-events: none;

	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 8px 0 8px;
	border-color: #2b2b2b transparent transparent transparent;
}
