.lable {
    color: color: #2B2B2B;
    font-size: 18px;
    line-height: 1.11;
}

.select {
	width: 100%;
	appearance: none;
	border: none;
	border-bottom: 1px solid #487996;
	background-color: transparent;
	outline: none;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 35px;
	cursor: pointer;

    color: color: #2B2B2B;
    font-size: 18px;
    line-height: 1.11;
}

.select:focus {
    outline: none;
    border-bottom: 1px solid rgba(72, 121, 150, 0.5);
}

.select-wraprer {
	position: relative;
}

.select-wraprer::before {
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	display: block;
	pointer-events: none;

	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 8px 0 8px;
	border-color: #2b2b2b transparent transparent transparent;
}

/*! КАСТОМНЫЙ СЕЛЕКТ */

.dropdown {
	position: relative;
}

.dropdown-button {
	position: relative;
	display: block;
	width: 100%;
	text-align: left;
	background-color: transparent;	
	padding: 4px 20px 4px 0px;
	outline: none;
	border: none;
	border-bottom: 1px solid #487996;

	font-size: 18px;
	line-height: 1.11;
	color: #2B2B2B;

	cursor: pointer;
}

.dropdown-button::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	display: block;
	pointer-events: none;

	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 8px 0 8px;
	border-color: #2b2b2b transparent transparent transparent;
}

.dropdown-list {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	padding: 12px 157px 12px 8px;
	border-bottom: 1px solid rgba(72, 121, 150, 0.5);
	z-index: 1;
}

.visible {
	display: block;
}

.dropdown-item {
	padding-top: 4px;
	padding-bottom: 4px;

	transition-duration: 250ms;
	transition-timing-function: ease;

	cursor: pointer;
}

.dropdown-item:hover, .dropdown-item:focus {
	color: #ffffff;
background-color: rgba(72, 121, 150, 0.5);
}

.dropdown-input-hidden {
/* display: none; */
}